.container{
    width: auto;
    height: auto;
    margin-left: 120px;
    margin-right: 120px;
    box-sizing: border-box;
}

@font-face {
    font-family: "raleway-italic";
    src: url(../fonts/raleway/Raleway-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "raleway";
    src: url(../fonts/raleway/Raleway-VariableFont_wght.ttf);
}

/*Quick contact Start*/
.quick-back{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quick-flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logo{
    width: 10%;
    height: auto;
    box-sizing: border-box;
}

.navi{
    width: 75%;
    height: auto;
    box-sizing: border-box;
}

.btn1{
    width: 15%;
    height: auto;
}

.logo h1{
    font-family: "raleway";
    font-size: 32px;
    font-weight: 790;
    color: #5f687b;
}

.navi ul{
    display: flex;
    margin-left: 230px;
    margin-top: 7px;
}

.navi ul li{
    margin: 13px;
    list-style: none;
}

.navi ul li a{
    font-family: "raleway";
    font-size: 16px;
    color: #5f687b;
    list-style: none;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
}

.navi ul li a b{
    color: #16df7e;
}

.quick-btn{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    font-family: "raleway";
    font-size: 15px;
    border: solid 1px #d5c6c6;
    margin-top: 3px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.quick-btn:hover{
    background-color: #206bfb;
    color: white;
}

.navi ul li a:hover{
    color: #16df7e;
}
/*Quick contact End*/

/*Banner Start*/
.banner{
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    margin-top: 20px;
}

.banner-flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.banner-content{
    width: 50%;
    height: auto;
    box-sizing: border-box;
}

.banner-img{
    width: 50%;
    height: auto;
    box-sizing: border-box;
}

.banner-content h1{
    font-family: "raleway";
    font-size: 45px;
    font-weight: 900;
    line-height: 50px;
    padding-top: 50px;
    color: #252930;
}

.banner-content p{
    font-family: "raleway";
    font-size: 25px;
    line-height: 25px;
    color: #858ea1;
    margin-top: 20px;
}

.banner-icon{
    display: flex;
    margin-top: 30px;
}

.banner-btn{
    padding-left: 35px;
    padding-right: 35px;
    font-family: "raleway";
    font-size: 17px;
    background-color: #16df7e;
    border: none;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 7px 10px 0px #9ee5c3;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: 0.5s;
    cursor: pointer;


}

.banner-para {
    margin-left: 30px;
    display: flex;
    cursor: pointer;
}

.banner-para i{
    width: 30px;
    height: 30px;
    font-size: 32px;
    border: solid 1px #b3acac;
    border-radius: 30px;
    margin-top: 6px;
    align-items: center;
    padding-left: 1px;
    color: white;
    background-color: #b3acac;
}

.banner-para p{
    font-size: 20px;
    margin-top: 12px;
    margin-left: 5px;
}

.banner-btn:hover{
    background-color: #206bfb;
    color: white;
    box-shadow: 0px 7px 10px #85a6e5;
}

.banner-para:hover i{
    background-color: #16df7e;
    border-color: #16df7e;
}

.img{
    width: 100%;
    height: 400px;
    background-image: url(../img/hero-img.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 30px;
}
/*Banner End*/

/*Feature Start*/

.featured{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
}

.feature-flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.feature-box1{
    width: 33.33%;
    height: auto;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px;
    margin-right: 25px;
    transition: 0.5s;
}

.feature-box1 i{
    font-size: 40px;
    color: #16df7e;
}

.feature-box1 h1{
    font-family: "raleway";
    font-size: 20px;
    color: #5f687b;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.feature-box1 p{
    font-family: "raleway";
    font-size: 15px;
    color: #5f687b;
    line-height: 20px;
    padding-bottom: 20px;
}

.feature-box2{
    width: 33.33%;
    height: auto;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px;
    margin-right: 25px;
    transition: 0.5s;
}

.feature-box2 i{
    font-size: 35px;
    color: #16df7e;
}

.feature-box2 h1{
    font-family: "raleway";
    font-size: 20px;
    color: #5f687b;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.feature-box2 p{
    font-family: "raleway";
    font-size: 15px;
    color: #5f687b;
    line-height: 20px;
    padding-bottom: 20px;
}

.feature-box3{
    width: 33.33%;
    height: auto;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px;
    transition: 0.5s;
}

.feature-box3 i{
    font-size: 35px;
    color: #16df7e;
}

.feature-box3 h1{
    font-family: "raleway";
    font-size: 20px;
    color: #5f687b;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.feature-box3 p{
    font-family: "raleway";
    font-size: 15px;
    color: #5f687b;
    line-height: 20px;
    padding-bottom: 20px;
}

.feature-box1:hover h1{
    color: #16df7e;
}

.feature-box2:hover h1{
    color: #16df7e;
}

.feature-box3:hover h1{
    color: #16df7e;
}

/*Feature End*/

/*About Start*/

.about{
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    margin-top: 70px;
}

.about-flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.about-img{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.abimg{
    width: 100%;
    height: 400px;
    background-image: url(../img/about.png);
    background-position: center;
    background-size: cover;
}

.about-content{
    width: 50%;
    height: auto;
    box-sizing: border-box;
    margin-left: 40px;
}

.about-content h1{
    font-family: "raleway";
    font-size: 30px;
    font-weight: 700;
    color: #181515;
    line-height: 35px;
}

.about-content h4{
    font-family: "raleway-italic";
    font-size: 18px;
    color: #080808;
    line-height: 23px;
    margin-top: 10px;
}

.about-content ul{
    margin-top: 25px;
}

.about-content ul li{
    font-family: "raleway";
    font-size: 16px;
    color: #181515;
    line-height: 35px;
}

.about-content ul li i{
    color: #16df7e;
    font-size: 20px;
}


.about-content p{
    font-family: "raleway";
    font-size: 17px;
    color: #181515;
    line-height: 30px;
    margin-top: 25px;
}
/*About End*/

/*About Start*/
.value{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-top: 80px;
}

.value-flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.value-box1{
    width: 25%;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    margin-right: 15px;
}

.value-box1 h1{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #16df7e;
}

.value-box1 p{
    font-family: "raleway";
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-top: 10px;
}

.value-box2{
    width: 25%;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    margin-right: 15px;
}

.value-box2 h1{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #16df7e;
}

.value-box2 p{
    font-family: "raleway";
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-top: 10px;
}

.value-box3{
    width: 25%;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    margin-right: 15px;
}

.value-box3 h1{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #16df7e;
}

.value-box3 p{
    font-family: "raleway";
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-top: 10px;
}

.value-box4{
    width: 25%;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    margin-right: 15px;
}

.value-box4 h1{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #16df7e;
}

.value-box4 p{
    font-family: "raleway";
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-top: 10px;
}
/*About End*/

/*Services Start*/
.services{
    width: 100%;
    height: 100%;
    background-color: #f9f9fa;
    box-sizing: border-box;
    margin-top: 60px;
    padding-top: 100px;
}

.serv-head{
    width: 100%;
    height: 10%;
    text-align: center;
    box-sizing: border-box;
}

.serv-head h1{
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #5f687b;
    position: relative;
    z-index: 1;
}

.serv-head h4{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #3635350f;
    position: absolute;
    z-index: 1;
    margin-left: 427px;
    margin-top: -55px;
}

.serv-head p{
    font-family: sans-serif;
    font-size: 18px;
    color: #7c7979;
    margin-top: 15px;
}

.serv-boxs{
    width: 100%;
    height: 90%;
    margin-top: 30px;
    box-sizing: border-box;
}

.serv-flex1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.serv-box1{
    width: 33.33%;
    height: auto;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 3px #f5efef;
    margin-right: 20px;
    padding: 30px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.serv-box1 i{
    font-size: 35px;
    color: #16df7e;    
}

.serv-box1 h1{
    font-family: "raleway";
    font-size: 25px;
    font-weight: 600;
    color: #5f687b;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s;  
    cursor: pointer;
}


.serv-box1 p{
    font-family: "raleway";
    font-size: 15px;
    color: #8d8989;
    margin-bottom: 20px;
    line-height: 20px;
}

.serv-box2{
    width: 33.33%;
    height: auto;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 3px #f5efef;
    margin-right: 20px;
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 50px;
}

.serv-box2 i{
    font-size: 30px;
    color: #16df7e;   
}

.serv-box2 h1{
    font-family: "raleway";
    font-size: 25px;
    font-weight: 600;
    color: #5f687b;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;  
}


.serv-box2 p{
    font-family: "raleway";
    font-size: 15px;
    color: #8d8989;
    margin-bottom: 20px;
    line-height: 20px;
}

.serv-box3{
    width: 33.33%;
    height: auto;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 3px #f5efef;
    margin-right: 20px;
    padding: 30px;
    padding-top: 70px;
    padding-bottom: 50px; 
}

.serv-box3 i{
    font-size: 35px;
    color: #16df7e;  
}

.serv-box3 h1{
    font-family: "raleway";
    font-size: 25px;
    font-weight: 600;
    color: #5f687b;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}


.serv-box3 p{
    font-family: "raleway";
    font-size: 15px;
    color: #8d8989;
    margin-bottom: 20px;
    line-height: 20px;
}

.serv-flex2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top:20px;
}

.serv-box4{
    width: 33.33%;
    height: auto;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 3px #f5efef;
    margin-right: 20px;
    padding: 30px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.serv-box4 i{
    font-size: 35px;
    color: #16df7e; 
}

.serv-box4 h1{
    font-family: "raleway";
    font-size: 25px;
    font-weight: 600;
    color: #5f687b;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;
}


.serv-box4 p{
    font-family: "raleway";
    font-size: 15px;
    color: #8d8989;
    margin-bottom: 20px;
    line-height: 20px;
}

.serv-box5{
    width: 33.33%;
    height: auto;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 3px #f5efef;
    margin-right: 20px;
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 50px; 
}

.serv-box5 i{
    font-size: 30px;
    color: #16df7e;  
}

.serv-box5 h1{
    font-family: "raleway";
    font-size: 25px;
    font-weight: 600;
    color: #5f687b;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;
}


.serv-box5 p{
    font-family: "raleway";
    font-size: 15px;
    color: #8d8989;
    margin-bottom: 20px;
    line-height: 20px;
}

.serv-box6{
    width: 33.33%;
    height: auto;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 3px #f5efef;
    margin-right: 20px;
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 50px; 
}

.serv-box6 i{
    font-size: 30px;
    color: #16df7e;   
}

.serv-box6 h1{
    font-family: "raleway";
    font-size: 25px;
    font-weight: 600;
    color: #5f687b;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;
}


.serv-box6 p{
    font-family: "raleway";
    font-size: 15px;
    color: #8d8989;
    margin-bottom: 20px;
    line-height: 20px;
}


.serv-box1:hover h1{
    color: #16df7e;
}

.serv-box2:hover h1{
    color: #16df7e;
}

.serv-box3:hover h1{
    color: #16df7e;
}

.serv-box4:hover h1{
    color: #16df7e;
}

.serv-box5:hover h1{
    color: #16df7e;
}

.serv-box6:hover h1{
    color: #16df7e;
}

.serv-box1:hover{
    border: solid 1px #ede8e8;
}

.serv-box2:hover{
    border: solid 1px #ede8e8;
}

.serv-box3:hover{
    border: solid 1px #ede8e8;
}

.serv-box4:hover{
    border: solid 1px #ede8e8;
}

.serv-box5:hover{
    border: solid 1px #ede8e8;
}

.serv-box6:hover{
    border: solid 1px #ede8e8;
}
/*Services End*/

/*Portfolio Start*/
.portfolio{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    background-color: white;
    box-sizing: border-box;
}

.portfolio-head{
    width: 100%;
    height: 10%;
    text-align: center;
    box-sizing: border-box;
}

.portfolio-head h1{
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #5f687b;
    position: relative;
    z-index: 1;
}

.portfolio-head h4{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #2c2b2b17;
    position: absolute;
    z-index: 1;
    margin-left: 410px;
    margin-top: -55px;
}

.portfolio-head p{
    font-family: sans-serif;
    font-size: 17px;
    color: #7c7979;
    margin-top: 15px;
}

.port-menu{
    width: 100%;
    height: 5%;
    display: flex;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 30px;
}

.port-menu1{
    width: 50px;
    height: 25px;
    background-color: #fffdfd;
    text-align: center;
    cursor: pointer;
    margin-right: 25px;
    margin-left: 38%;
    transition: 0.5s;
}

.port-menu1 h1{
    font-family: "raleway";
    font-size: 15px;
    font-weight: 700;
    color: #16df7e;
    cursor: pointer;
    margin-top: 3px;
    transition: 0.5s;
}


.port-menu2{
    width: 50px;
    height: 25px;
    background-color: #fffdfd;
    text-align: center;
    cursor: pointer;
    margin-right: 25px;
    transition: 0.5s;
}

.port-menu2 h1{
    font-family: "raleway";
    font-size: 15px;
    font-weight: 700;
    color: #4d5451;
    cursor: pointer;
    margin-top: 3px;
    transition: 0.5s;
}


.port-menu3{
    width: 50px;
    height: 25px;
    background-color: #fffdfd;
    text-align: center;
    cursor: pointer;
    margin-right: 25px;
    transition: 0.5s;
}

.port-menu3 h1{
    font-family: "raleway";
    font-size: 15px;
    font-weight: 700;
    color: #4d5451;
    cursor: pointer;
    margin-top: 3px;
    transition: 0.5s;
}


.port-menu4{
    width: 50px;
    height: 25px;
    background-color: #fffdfd;
    text-align: center;
    cursor: pointer;
    margin-right: 25px;
    transition: 0.5s;
}

.port-menu4 h1{
    font-family: "raleway";
    font-size: 15px;
    font-weight: 700;
    color: #4d5451;
    cursor: pointer;
    margin-top: 3px;
    transition: 0.5s;
}

.port-menu1:hover h1{
    color: #16df7e;
}


.port-menu2:hover h1{
    color: #16df7e;
}


.port-menu3:hover h1{
    color: #16df7e;
}


.port-menu4:hover h1{
    color: #16df7e;
}


.portfolio-img{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.img-flex1{
    width: 33.33%;
    height: auto;
    margin-right: 25px;
    box-sizing: border-box;
}

.img-flex2{
    width: 33.33%;
    height: auto;
    margin-right: 25px;
    box-sizing: border-box;
}

.img-flex3{
    width: 33.33%;
    height: auto;
    margin-right: 25px;
    box-sizing: border-box;
}

.port-img1{
    width: 100%;
    height: 354px;
    background-image: url(../img/portfolio-1.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.port-img2{
    width: 100%;
    height: 515px;
    background-image: url(../img/portfolio-6.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.port-img3{
    width: 100%;
    height: 234px;
    background-image: url(../img/portfolio-2.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.port-img4{
    width: 100%;
    height: 533px;
    background-image: url(../img/portfolio-5.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.port-img5{
    width: 100%;
    height: 230px;
    background-image: url(../img/portfolio-9.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.port-img6{
    width: 100%;
    height: 197px;
    background-image: url(../img/portfolio-3.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.port-img7{
    width: 100%;
    height: 230px;
    background-image: url(../img/portfolio-4.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.port-img8{
    width: 100%;
    height: 218px;
    background-image: url(../img/portfolio-7.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.port-img9{
    width: 100%;
    height: 232px;
    background-image: url(../img/portfolio-8.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
     position: relative;
    z-index: 1;
}

.abs-cont{
    width: 80%;
    height: auto;
    background-color: rgb(247 244 244);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-left: 5.5%;
    position: absolute;
    z-index: -1;
    margin-top: 75%;
    line-height: 25px;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}

.abs-cont h1{
    font-family: "raleway";
    font-size: 16px;
    color: #5f687b;
    font-weight: 600;
}

.abs-cont h2{
    font-family: "raleway";
    font-size: 14px;
    color: #949cac;
}

.abs-cont i{
    font-size: 18px;
    color: #0d6efd;
    margin-top: 18px;
    padding-inline: 7px;
    cursor: pointer;
    transition: 0.5s;
}

.port-img1:hover .abs-cont{
        width: 80%;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        margin-left: 5.5%;
        position: absolute;
        z-index: -1;
        margin-top: 75%;
        line-height: 25px;
        opacity: 0.9;
        transform: translateY(0px);
}

.abs-cont i:hover{
    color: #16df7e;
}


.abs-cont2{
    width: 80%;
    height: auto;
    background-color: rgb(247 244 244);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-left: 5.5%;
    position: absolute;
    z-index: -1;
    margin-top: 120%;
    line-height: 25px;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}


.abs-cont2 h1{
    font-family: "raleway";
    font-size: 16px;
    color: #5f687b;
    font-weight: 600;
}

.abs-cont2 h2{
    font-family: "raleway";
    font-size: 14px;
    color: #949cac;
}

.abs-cont2 i{
    font-size: 18px;
    color: #0d6efd;
    margin-top: 18px;
    padding-inline: 7px;
    cursor: pointer;
    transition: 0.5s;
}

.port-img2:hover .abs-cont2{
        width: 80%;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        margin-left: 5.5%;
        position: absolute;
        z-index: -1;
        margin-top: 119.5%;
        line-height: 25px;
        opacity: 0.9;
        transform: translateY(0px);
}

.abs-cont2 i:hover{
    color: #16df7e;
}

.abs-cont3{
    width: 80%;
    height: auto;
    background-color: rgb(247 244 244);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-left: 5.5%;
    position: absolute;
    z-index: -1;
    margin-top: 40%;
    line-height: 25px;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}


.abs-cont3 h1{
    font-family: "raleway";
    font-size: 16px;
    color: #5f687b;
    font-weight: 600;
}

.abs-cont3 h2{
    font-family: "raleway";
    font-size: 14px;
    color: #949cac;
}

.abs-cont3 i{
    font-size: 18px;
    color: #0089ff;
    margin-top: 18px;
    padding-inline: 7px;
    cursor: pointer;
    transition: 0.5s;
}

.port-img3:hover .abs-cont3{
        width: 80%;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        margin-left: 5.5%;
        position: absolute;
        z-index: -1;
        margin-top: 39%;
        line-height: 25px;
        opacity: 0.9;
        transform: translateY(0px);
}

.abs-cont3 i:hover{
    color: #16df7e;
}

.abs-cont4{
    width: 80%;
    height: auto;
    background-color: rgb(247 244 244);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-left: 5.5%;
    position: absolute;
    z-index: -1;
    margin-top: 125%;
    line-height: 25px;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}


.abs-cont4 h1{
    font-family: "raleway";
    font-size: 16px;
    color: #5f687b;
    font-weight: 600;
}

.abs-cont4 h2{
    font-family: "raleway";
    font-size: 14px;
    color: #949cac;
}

.abs-cont4 i{
    font-size: 18px;
    color: #0d6efd;
    margin-top: 18px;
    padding-inline: 7px;
    cursor: pointer;
    transition: 0.5s;
}

.port-img4:hover .abs-cont4{
        width: 80%;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        margin-left: 5.5%;
        position: absolute;
        z-index: -1;
        margin-top: 124.5%;
        line-height: 25px;
        opacity: 0.9;
        transform: translateY(0px);
}

.abs-cont4 i:hover{
    color: #16df7e;
}

.abs-cont5{
    width: 80%;
    height: auto;
    background-color: rgb(247 244 244);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-left: 5.5%;
    position: absolute;
    z-index: -1;
    margin-top: 40%;
    line-height: 25px;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}


.abs-cont5 h1{
    font-family: "raleway";
    font-size: 16px;
    color: #7a8191;
    font-weight: 600;
}

.abs-cont5 h2{
    font-family: "raleway";
    font-size: 14px;
    color: #a6a9af;
}

.abs-cont5 i{
    font-size: 18px;
    color: #0089ff;
    margin-top: 18px;
    padding-inline: 7px;
    cursor: pointer;
    transition: 0.5s;
}

.port-img5:hover .abs-cont5{
        width: 80%;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        margin-left: 5.5%;
        position: absolute;
        z-index: -1;
        margin-top: 39%;
        line-height: 25px;
        opacity: 0.9;
        transform: translateY(0px);
}

.abs-cont5 i:hover{
    color: #16df7e;
}

.abs-cont6{
    width: 80%;
    height: auto;
    background-color: rgb(247 244 244);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-left: 5.5%;
    position: absolute;
    z-index: -1;
    margin-top: 28%;
    line-height: 25px;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}


.abs-cont6 h1{
    font-family: "raleway";
    font-size: 16px;
    color: #7a8191;
    font-weight: 600;
}

.abs-cont6 h2{
    font-family: "raleway";
    font-size: 14px;
    color: #a6a9af;
}

.abs-cont6 i{
    font-size: 18px;
    color: #0089ff;
    margin-top: 18px;
    padding-inline: 7px;
    cursor: pointer;
    transition: 0.5s;
}

.port-img6:hover .abs-cont6{
        width: 80%;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        margin-left: 5.5%;
        position: absolute;
        z-index: -1;
        margin-top: 28.5%;
        line-height: 25px;
        opacity: 0.9;
        transform: translateY(0px);
}

.abs-cont6 i:hover{
    color: #16df7e;
}

.abs-cont7{
    width: 80%;
    height: auto;
    background-color: rgb(247 244 244);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-left: 5.5%;
    position: absolute;
    z-index: -1;
    margin-top: 40%;
    line-height: 25px;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}


.abs-cont7 h1{
    font-family: "raleway";
    font-size: 16px;
    color: #7a8191;
    font-weight: 600;
}

.abs-cont7 h2{
    font-family: "raleway";
    font-size: 14px;
    color: #a6a9af;
}

.abs-cont7 i{
    font-size: 18px;
    color: #0089ff;
    margin-top: 18px;
    padding-inline: 7px;
    cursor: pointer;
    transition: 0.5s;
}

.port-img7:hover .abs-cont7{
        width: 80%;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        margin-left: 5.5%;
        position: absolute;
        z-index: -1;
        margin-top: 39%;
        line-height: 25px;
        opacity: 0.9;
        transform: translateY(0px);
}

.abs-cont7 i:hover{
    color: #16df7e;
}

.abs-cont8{
    width: 80%;
    height: auto;
    background-color: rgb(247 244 244);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-left: 5.5%;
    position: absolute;
    z-index: -1;
    margin-top: 38%;
    line-height: 25px;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}


.abs-cont8 h1{
    font-family: "raleway";
    font-size: 16px;
    color: #7a8191;
    font-weight: 600;
}

.abs-cont8 h2{
    font-family: "raleway";
    font-size: 14px;
    color: #a6a9af;
}

.abs-cont8 i{
    font-size: 18px;
    color: #0089ff;
    margin-top: 18px;
    padding-inline: 7px;
    cursor: pointer;
    transition: 0.5s;
}

.port-img8:hover .abs-cont8{
        width: 80%;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        margin-left: 5.5%;
        position: absolute;
        z-index: -1;
        margin-top: 37%;
        line-height: 25px;
        opacity: 0.9;
        transform: translateY(0px);
}

.abs-cont8 i:hover{
    color: #16df7e;
}

.abs-cont9{
    width: 80%;
    height: auto;
    background-color: rgb(247 244 244);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-left: 5.5%;
    position: absolute;
    z-index: -1;
    margin-top: 40%;
    line-height: 25px;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}


.abs-cont9 h1{
    font-family: "raleway";
    font-size: 16px;
    color: #7a8191;
    font-weight: 600;
}

.abs-cont9 h2{
    font-family: "raleway";
    font-size: 14px;
    color: #a6a9af;
}

.abs-cont9 i{
    font-size: 18px;
    color: #0089ff;
    margin-top: 18px;
    padding-inline: 7px;
    cursor: pointer;
    transition: 0.5s;
}

.port-img9:hover .abs-cont9{
        width: 80%;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        margin-left: 5.5%;
        position: absolute;
        z-index: -1;
        margin-top: 39%;
        line-height: 25px;
        opacity: 0.9;
        transform: translateY(0px);
}

.abs-cont9 i:hover{
    color: #16df7e;
}
/*Portfolio End*/






